{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Gestión" %}{% endblock %}

{% block body %}
    <h1>{% trans "Listado de Webminars" %}</h1>
    <table class="table">
        <thead>
            <th>Título</th>
            <th>Descripción</th>
            <th>Inicio</th>
            <th>Fin</th>
            <!-- <th>ID</th> -->
            <th>Acciones</th>
        </thead>
        {% for webminar in object_list %}
        <tr>
            <td>{{ webminar.titulo }} </td>    
            <td>{{ webminar.descripcion }} </td>    
            <td>{{ webminar.inicio }} </td>
            <td>{{ webminar.fin }} </td>
            <!-- <td>{{ webminar.slug }} </td> -->
            <td> 
                <a href="{{ webminar.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="Editar"> 
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="{% url 'webminar_realizar' webminar.id %}" data-toggle="tooltip" data-placement="top" title="Realizar">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                </a>
                <a href="{% url 'webminar_ver' webminar.id %}" data-toggle="tooltip" data-placement="top" title="Ver">
                    <span class="glyphicon glyphicon-film"></span>
                </a>
                <a href="{% url 'webminar_borrar' webminar.id %}" data-toggle="tooltip" data-placement="top" title="Borrar">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'webminar_nuevo' %}" class="btn btn-success">Nuevo</a>
{% endblock %}
