{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}


{% block head_title %}
	{% if object.id %}
		{% trans "Editar Webminar" %}
	{% else %}
		{% trans "Nuevo Webminar" %}
	{% endif %}
{% endblock %}


{% block extra_script %}
<!-- para el datepicker -->
{{ form.media }}
<script>
    function check_fechas(ev) {
        console.log("Cambian el final, vamos a comparar");
                inicio = new Date($("#id_inicio").val());
                fin = new Date($("#id_fin").val());
                console.log(inicio);
                console.log(fin);
                if (inicio > fin)
                {
                    console.log("Mal");
                    alert("La fecha de fin nopuede ser anterior a la de inicio, compruebe las fechas");
                } else {
                    console.log("Bien");
                }
    };
    $(function() {
        console.log("Vamos con los datepickers");
        $("#id_inicio").datetimepicker(
            {"weekStart": 1, 
                "language": "es-es", 
                "minuteStepping":15,
                "useSeconds": false,
                "useCurrent":true
                
            });
        $("#id_inicio").change(
            function(ev){
                console.log("Cambian el inicio");
                //$('#id_fin').datetimepicker('setStartDate', $("#id_inicio").val());
            });
    
        $("#id_fin").datetimepicker({"weekStart": 1, "language": "es-es", "minuteStepping":15,"useSeconds": false,"useCurrent":false});
        
        $("#id_inicio").change(function(ev){check_fechas(ev);});
        $("#id_fin").change(function(ev){check_fechas(ev);});
                
		var d = new Date();
		var month = d.getMonth();
		var day = d.getDate();
		var year = d.getFullYear();
		//$("#id_inicio").data('datetimepicker').setLocalDate(new Date(year, month, day, 12, 00));
		//$("#id_fin").data('datetimepicker').setLocalDate(new Date(year, month, day, 12, 00));

    });
</script>


{% endblock %}


{% block body %}
{% if object.id %}
    <h1>Editar Webminar {{object.titulo}}</h1>
{% else %}
    <h1>Nuevo Webminar</h1>
{% endif %}
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#home" role="tab" data-toggle="tab">Detalles</a></li>
  {% if object.id %}
  <li><a href="#mensajes" role="tab" data-toggle="tab">Mensajes</a></li>
  <li><a href="#visitas" role="tab" data-toggle="tab">Visitas</a></li>
  {% endif %}
  
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <form action="" method="post">{% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
      <a href="{% url 'webminar_gestion_lista' %}" class="btn">Cancelar</a>
      <button type="submit" class="btn btn-primary">
      	{% if object.id %}
        Guardar
        {% else %}
        Crear
        {% endif %}
        </button>
        </div>
    </form>
</div>

<div class="tab-pane" id="visitas">
    <h3>Visitas</h3>
    {% if object.id %}
    <a href="{% url 'webminar_exportar_visitas' object.id %}">Exportar</a>
    <table class="table" >
        <thead><th>Fecha</th><th>Quien</th></thead>
        {%for visita in object.visita_set.all %}
        <tr>
            <td>{{visita.fecha}}</td><td>{{visita.quien}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div class="tab-pane" id="mensajes">

    <h3>Mensajes</h3>
    
    {% if object.id %}
    <a href="{% url 'webminar_exportar_mensajes' object.id %}">Exportar</a>
    <table class="table" >
        <thead><th>Fecha</th><th>De</th><th>Para</th><th>Texto</th></thead>
        {%for mensaje in object.mensaje_set.all|dictsort:"fecha" %}
        <tr>
            <td>{{mensaje.fecha|date:"d/m/Y G:i"}}</td><td>{{mensaje.de}}</td><td>{{mensaje.para}}</td><td>{{mensaje.texto}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
