{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
    <h1>{% trans "Webminar List" %}</h1>
    <a href="{% url 'webminar_nuevo' %}" class="button">Nuevo</a>
    <ul>
    {% for webminar in object_list %}
    <li>{{ webminar.inicio }} {{ webminar.slug }} <a href="{{ webminar.get_absolute_url }}">Editar</a> 
        | <a href="{% url 'webminar_realizar' webminar.id %}">Realizar</a> 
        | <a href="{% url 'webminar_ver' webminar.id %}">Ver</a> 
        | <a href="">Borrar</a> 
    </li>
    {% endfor %}
    </ul>
{% endblock %}
