{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}



{% block body %}
    
    
    <div class="row">
        <h1>{% trans "Bienvenido a el sistema de Webminars de Beovipel" %}</h1>
        <br />
        
        <div class="col-sm-3 col-sm-offset-2">
            {% if siguiente_webminar %}
                <a href="{{ siguiente_webminar.get_intro_url }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="top" title="{{ siguiente_webminar.descripcion}}" >
                    {{ siguiente_webminar.titulo }}<br />Inicio: {{ siguiente_webminar.inicio }} 
                </a>
            {% else %}
                <a href="#" class="btn btn-default btn-lg" role="button"> No hay ningun Webminar<br />programado </a>
            {% endif %}
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            {% if proximo_webminar %}
                <p class="btn btn-default btn-lg" role="button" data-toggle="tooltip" data-placement="top" title="{{ proximo_webminar.descripcion}}">
                    {{ proximo_webminar.titulo }} <br />Inicio: {{ proximo_webminar.inicio }}</p>
            {% else %}
                <a href="#" class="btn btn-default btn-lg" role="button"> No hay ningun Webminar<br />programado </a>
            {% endif %}
        </div>
    </div>
    <h3>Histórico</h3>
    <ul>
        {% for webminar in object_list %}
        <li> {{ webminar.inicio }} {{ webminar.get_historico_url }}
            {% if webminar.get_historico_url == "#" %}
                <a herf="{{ webminar.get_historico_url }}">
                {{ webminar.slug }}
                </a>
            {% else %}
                Aun no se ha colgado el vídeo.
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    
{% endblock %}
