{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Ver Webminar" %}{% endblock %}

{% block extra_head %}

<style>
    #player_rtmp {
      display: block;
      width: 100%;
      height: 480px;
      margin: 0;
      background-color: grey;
    }
    #player_rtmp *:focus, #audio *:focus {
      outline-style: none;
    }
    #player_hls {
      display: block;
      width: 100%;
      height: 480px;
      margin: 0;
      background-color: grey;
    }
    #player_hls *:focus, #audio *:focus {
      outline-style: none;
    }
  </style>

{% endblock %}


{% block extra_script %}

<script src='{% static "js/flash_detect.js"%}'></script>
<script src='{% static "jwplayer/jwplayer.js"%}'></script>
<script>

    
    function cargar_mensajes(email) {
        console.log("Vamos a cargar los mensajes generales y para "+email);
        $("#mensajes_list").load("/webminar/{{ webminar.id }}/mensaje/leer/"+email+"/");
        autoscroll = $("#checkbox_autoscroll").is(':checked');
        if (autoscroll) {
            console.log("El susuario quiere autoscroll");
            $("#mensajes_list").scrollTop($("#mensajes_list_interno").height()+20);
            
        }
    }
    
    function enviar_mensaje() {
        mensaje = $("#mensaje_input").val();
        //alert("Vamos a enviar mensaje: "+mensaje);
        data = {"webminar": {{webminar.id}}, "de": "{{email}}", "para": "admin@admin.es","texto": mensaje};
        //alert(data);
        
        $.ajax({
            type: "POST",
            url: "/webminar/{{ webminar.id }}/mensaje/enviar/",
            data: data,
            success: mensaje_enviado(data,status)
            //error: mensaje_fallado(status,error),
        });
        
    }
    function mensaje_fallado(status,error) {
        console.log("Error enviando el mensaje");
        console.log(status);
        console.log(error);
    }
    function mensaje_enviado(data,status) {
        //FIXME
        //alert(data["recibido"]);
        //if data["recibido"] {};
        console.log("Mensaje enviado");
        console.log(status);
        console.log(data);
        $("#mensaje_input").val('');
        cargar_mensajes("{{email}}")
    }
    
    $(function(){
        console.log("Ponemos el intervalo");
        
        var intervalID = setInterval(function(){
            cargar_mensajes("{{email}}");
            }, 5000);
        console.log("Intervalo "+intervalID+" creado");
        
        $('#mensaje_input').keypress(function(e) {
            // Enter pressed?
            
            if(e.which == 10 || e.which == 13) {
                console.log("Mandamos el mensaje");
                enviar_mensaje();
            }
        });
        var isMobile = {
			Android: function() {
				return navigator.userAgent.match(/Android/i);
			},
			BlackBerry: function() {
				return navigator.userAgent.match(/BlackBerry/i);
			},
			iOS: function() {
				return navigator.userAgent.match(/iPhone|iPad|iPod/i);
			},
			Opera: function() {
				return navigator.userAgent.match(/Opera Mini/i);
			},
			Windows: function() {
				return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
			},
			any: function() {
				return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
			}
		};


    	if(FlashDetect.installed){
			console.log("Hay flash vamos a usar flowplayer");
			$("#player_hls").hide();
			$.getScript( '{% static "flowplayer/flowplayer-3.2.13.min.js"%}', function( data, textStatus, jqxhr ) {
				console.log( textStatus ); // Success
				console.log( jqxhr.status ); // 200
				console.log( "Load was performed." );
				 $f("player_rtmp", '{% static "flowplayer/flowplayer-3.2.18.swf" %}', {
				  plugins: {
					rtmp: {
					  url: '{% static "flowplayer/flowplayer.rtmp-3.2.13.swf"%}',
					  netConnectionUrl: "rtmp://webminar.beovipel.es/recepcion/"
					},
					controls: {
				  url: '{% static "flowplayer/flowplayer.controls-3.2.16.swf" %}',
					  scrubber: false
					}
				  },
				  clip: {
					provider: "rtmp",
					url: "beovipel",
					live: true,
					scaling: "fit"
				  }
				 });
				$("#aviso").text("Usando RTMP");
				$f().play();
			});
		} else {
	
			console.log("No hay flash, cargamos HLS");
			$("#player_rtmp").hide();
			console.log("Intentamos cargar jwplayer");
			//~ $.getScript( '{% static "/jwplayer/jwplayer.js" %}', function( data, textStatus, jqxhr ) {
				//~ //console.log( data ); // Data returned
				//~ console.log( textStatus ); // Success
				//~ console.log( jqxhr.status ); // 200
				//~ console.log( "Load was performed." );
				jwplayer.key="TMbaKIAYVqGUj4IFHyj99YV6a47JmwWqlDkvCA==";
				console.log("Vamos a setupear el jwplayer");
				jwplayer("player_hls").setup({
					file: "http://webminar.beovipel.es:8080/hls/beovipel.m3u8",
					image: "http://webminar.beovipel.es/site_media/static/img/play.png",
					androidhls: true
				});
				console.log("JWPlayer setupeado");
				if( isMobile.Android() ) {
					console.log('Android');
					$("#aviso").html("Si no puede ver el vídeo haga click para ver a través de <button onclick=\"window.open('rtsp://webminar.beovipel.es:88/live', '_system')\">RTSP</button>");
				}
				if( isMobile.iOS() ) {
					console.log('iOS');
						$("#aviso").text("Dispositivo IOS Usando HLS");
				} ;
			//~ });
		};	
    
	});
</script>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-9">
		
		<div id="player_rtmp">Player PC</div>
		<div id="player_hls">Player iotrastos & androides</div>	
        <h3>Detalles</h3>
            <p><b>Título</b>: {{webminar.titulo}}</p>
            <p><b>Descripción</b>: {{webminar.descripcion}}</p>
            <p><b>Fecha</b>: Desde {{webminar.inicio}} hasta {{webminar.fin|date:"G:i"}}</p>
            <p><b>Tecnología</b>:<div id="aviso">Aviso</div></p>
    </div>
    <div class="col-md-3">
        <h3>Preguntas</h3>
        <!-- <button id="enviar_mensaje" onclick="enviar_mensaje();">Enviar</button> -->	
        <div id="mensajes_list" style="overflow-y: scroll; height: 370px" >
        Cargando...
        </div>
        <input id="mensaje_input"  class="form-control" placeholder="Escriba su pregunta(max 250 caracteres)" maxlength="250"></input>
        <div class="checkbox">
                <label><input type="checkbox" id="checkbox_autoscroll"> Autoscroll</label>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
    
    </div>
</div>

{% endblock %}
