{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Realizar Webminar" %}{% endblock %}

{% block body %}
<h1>Webminar {{webminar.slug}}</h1>
<div class="row">


    <div class="col-md-9">
        <h3>Video</h3>
        
        <video width="800" height="540" autoplay >
            <source src="http://webminar.etxea.net/vod/terradets.mp4" type="video/mp4" >
            Your browser does not support the video tag.
        </video>
        <h3>Detalles</h3>
        <ul>
            <li>{{webminar.slug}}</li>
            <li>{{webminar.inicio}}</li>
            <li>{{webminar.fin}}</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Mensajes</h3>
        <p>Enviar mensaje:<input><button>Enviar</button></p>
        <div id="mensajes_list">
        <ul>
            <li><b>fulano@lalala.com</b>: Teno una duda</li>
            <li><i>Administrador</i>: Las preguntas se responderan al finalizar la explicación</li>
            <li><b>fulano@lalala.com</b>: Teno una duda</li>
        </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
    
    </div>
</div>

{% endblock %}
